@media (min-width:300px) and (max-width:574px){
    .content_img {
        width:150px;
    }
    .latestBoxText {
        font-size: 14px;
    }
    .joni_content h2 {
        font-size: 17px;
    }
    .header_text {
        font-size: 24px;}
        .para_text {
            font-size: 24px !important;}
            .joinEmail {
                width: 108%;
            }
}