*{
    margin:0;
    padding:0;
  }
  h1,h2,h3,h4,h5,h6,p{
    margin:0;
    padding:0;
  
  }
  p{
    font-family: "Inter", sans-serif
  }
  .header-content{
    width:80%;
    display: flex;
    justify-content: space-between;
    margin:auto;
    height: 70px;
    align-items: center;
    padding-top: 15px;
  }
  .logo{
    width:20%;
    display: flex;
  }
  .nav{
    width:50%;
  }
  nav ul{
    display: flex;
    list-style: none;
    justify-content: end;
  }
  nav ul li{
    margin-left:40px;
  }  
  nav ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color:#8987A1;
    font-weight: normal;
    position: relative;
    padding-bottom: 10px;
    font-family: "Noto Serif", serif;
  }
  nav ul li a::before{
    content:   "";
    position: absolute;
    bottom:0%;
    left:0;
    width:0%;
    height: 3px;
    background-color: #FF5400;
    transition: .2s ease-in-out;
  
  }
  nav ul li a:hover::before{
    width:45%;
   
  }   
  nav ul li a::after{
    content:   "";
    position: absolute;
    bottom:0%;
    right:0;
    width:0%;
    height: 3px;
    background-color: #FF5400;
     transition: .2s ease-in-out;
  
  }
  nav ul li a:hover::after{
    width:45%;
   
  }
  .banner_section{
    width:80%;
    margin:auto;
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
    padding: 50px 0px 50px 0px;
  }
  .banner{
    font-family: "Noto Serif", serif;
  }
  /* plan section start */
  .planSection{
    width:80%;
    margin:auto;
    padding: 50px 0px 80px 0px;
  }
   .plant h2{
    font-family: "Noto Serif", serif;
   }
  .content{
    margin-top: 40px;
    padding-left: 15px;
  }
  .content h2{
    font-weight: bold;
    color:#111111;
    font-size: 22px;
  }
  .content p{
    font-weight: bold;
    color:#111111;
    font-size: 22px;
  }
  .contentBox{
  
  }
  .contentBox h3{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .content_img{
    background-color: #FF5400;
    color:#fff;
    margin-top: 15px;
    padding:10px 20px 10px 20px;
    width: 245px;
    font-size: 16px;
    font-weight: 700;
    
  }
  /* flowr section start */
  .flower_section{
    width:80%;
    margin:auto;
    padding:80px 0px 80px 0px;
  
    
  }
  
  .plant{
    margin-left: 60px;
  }
  .list_content{
    margin-top: 20px;
  }
  .list_content ul{}
  .list_content ul li{
    color:#00000080;
    margin-bottom: 15px;
    font-family: "Inter", sans-serif;
    font-size: 22px;}
    .flower_content{
        position: relative;
    }
.trut_img{
    position:absolute;
    width: 200px;
    left: 48%;
    transform: translate(-50%, -50%);
}
/* latest section start */
.latest_section{
    width:80%;
    margin:auto;
    padding: 50px 0px 50px 0px;
}
.lates_para{
  margin-bottom: 30px;
  margin-top: 15px;
}
.latestBox_One{
  position: relative;
  background-image: url(../images/deal-bloom.png);
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  margin-top: 20px;
  border-radius: 15px;
  z-index: 0;
  
  
}
.latestBox_One::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#000;
  border-radius: 15px;
  opacity: .4;
  z-index:-1;
}
.latesBoxContent{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.latestBoxText{
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  font-family: "Noto Serif", serif;
}
.para{
 font-size: 12px;
 color:#fff;
 font-weight:900;
 text-decoration: underline;


}
.latestBox_Three{
  position: relative;
  background-image: url(../images/deal-ana.png);
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  margin-top: 20px;
  border-radius: 15px;
  z-index: 0;
  
}
.latestBox_Three::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#000;
  border-radius: 15px;
  opacity: .4;
  z-index:-1;
}
.borderBox{
  position: relative;
  background-image: url(../images/deal-zabo.png);
  min-height: 40vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  margin-top: 20px;
  border-radius: 15px;
  margin-left: 15px;
  color: white;
  overflow: hidden; 
  z-index: 0;

}
.borderBox::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#000;
  border-radius: 15px;
  opacity: 0.4;
  z-index:-1;
}
.join_section{
  position: relative;
  background-image: url(../images/news-letter-bg.png);
  min-height: 70vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100%;
  margin-top: 20px;
  overflow: hidden; 
  z-index: 0;
  margin-bottom: 50px;
  
}
.join_section::before{
  content:"";
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:#000;
  border-radius: 15px;
  z-index:-1;
  opacity: .1;
}
.joinContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.joni_content{

}

.joni_content h2{
  color:#fff;
  font-weight: bold;
  font-size: 50px;
  font-family: "Noto Serif", serif;
}
.joinEmail {
  padding: 20px 20px;
  border-radius: 15px;
  width: 100%;
}
.input-group {
  position: relative;
  display: flex;
  align-items: center;
}
.input-group input[type="email"] {
  width: 100%;
  padding: 10px 45px 10px 40px;
  border: 1px solid #efefef;
  outline: none;
  font-size: 16px;
  background-color: #fff;
}

.input-group i {
  position: absolute;
  left: 12px;
  color: #888;
  font-size: 18px;
}
.input-group button {
  position: absolute;
  right: 4px;
  top: 4px;
  bottom: 4px;
  padding: 0 20px;
  background-color: #E95A08;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
.footer_section{
  width: 80%;
  margin:auto;
  padding-bottom: 30px;
}
.containerOne{}
.containerOne p{
  margin-top: 15px;
  font-size: 22px;
  color:#00000080
}
.containerTwo{
  display: flex;
  justify-content: center;
}
.containerTwo ul{

}
.containerTwo ul li{
  margin-bottom: 20px;
}
.containerTwo ul li a{
  color:#6B7280;
  font-size: 18px;
  text-transform: capitalize;
}
.containerFour{
  
}
.containerFour ul{
  display: flex;
}
.socialImg{
  margin-right: 20px;
}